@import "../variables/variables.scss";

.main-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}

.main-menu__item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 32px;
  color: $themeColor8;
}

.main-menu__item.icon::after{
  margin-left: 9px;
}

.main-menu__item:nth-last-child(1){
  margin-right: 0px;
}