@font-face{
    font-family: "TT Lakes";
    src: url("./fonts/TTLakes-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: "TT Lakes";
    src: url("./fonts/TTLakes-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}
@font-face{
    font-family: "TT Lakes";
    src: url("./fonts/TTLakes-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "TT Lakes";
    src: url("./fonts/TTLakes-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

body{
    margin: 0;
    padding: 0;
    background: #F8F8F8;
    font-family: "TT Lakes", "Roboto", "Arial";
}

/* header */

.container-positioner{
    display: flex;
    width: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
    border-bottom: solid 1px #D9FFF5;
    background:#FFFFFF;
}

.sidebar-toggle, .logo, .contacts, .actions{
    display: flex;
    align-items: center;
}

.button-icon{
    height: 40px;
    width: 40px;
    background: #FF3E79;
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    box-sizing: border-box;
}

.logo{
    justify-content: flex-start;
    flex-grow: 1;
    align-items: center;
    margin-left: auto;
}

.contacts{
    justify-content: flex-end;
    flex-grow: 2;
}

.contacts__button-icon{
    margin-left: 16px;
}

.actions{
    justify-content: space-between;
}

.actions__button-icon{
    margin-right: 16px;
}

.actions__button-icon:nth-last-child(1){
    margin: 0;
}


/*  main */

/* title */

.main__title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 24px;
    /* background: rgb(196, 127, 48) */
}

.main__title::before{
    display: inline-block;
    content:"";
    width: 4px;
    height: 100%;
    background: #41F6D7;
    margin-right: 12px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-sizing: border-box;
}

.main__title_text{
    font-size: 28px;
    letter-spacing: -1px;
    line-height: 40px;
    font-weight: bold;
}

/* menu */


.main__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    display: none;
    margin-left: auto;
}

.menu__option{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 32px;
}

.menu__option:nth-last-child(1){
    margin-right: 0px;
}

.option__link{
    margin-right: 9px;
    color:#1B1C21;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-decoration: none;
}

.option__link:hover{
    text-decoration: underline;
}

.option__icon{
    height: 40px;
    width: 40px;
    background: #FF3E79;
    padding: 10px;
    border-radius: 20px;
    box-sizing: border-box;
}

/* navbarchik */

.main__navs{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
}

.navs__container-positioner{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main__navs_item{
    box-sizing: border-box;
    height: 100%;
    height: 40px;
    background: inherit;
    border-radius: 6px;
    margin-right: 2px;
    border: 2px dotted rgba(0, 0, 0, 0);
    cursor: pointer;
    outline: none;
}

.main__navs_item:hover{
    border: 2px dotted #B8FFEC;
    background: white;
}

.main__navs_item--active{
    border: 2px solid #B8FFEC;
    background: white;
}

.nav__text{
    font-weight: 500;
    vertical-align: middle;
    color: #7E7E82;
    font-size: 16px;
    letter-spacing: 0pt;
    white-space: nowrap;
}

/* about */

.main__about{
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.about__description{
    flex-grow: 1;
    flex-direction: column;
}

.about__text{
    color:#1B1C21;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0; 
    overflow: hidden;
}

.about__continuation{
    height: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.continuation__icon{
    padding: 0 8px;
    text-align: center;
}

.continuation__text{
    padding: 0 8px;
    color:#1B1C21;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: -0.2px;
}

.about__image{
    flex-grow: 1;
    background: url("./images/about.png") no-repeat;
    background-size: 100%;
    min-height: 100%;
    min-width: 50%;
}

@media screen and (max-width:320px), screen and (min-width:320px){
    .container-positioner{
        margin: 0 16px;
    }

    .header__sidebar-toggle{
        margin-right: 16px;
    }

    .header__contacts{
        display: none;
    }

    .header__actions::before{
        display: inline-block;
        content:"";
        width: 2px;
        height: 32px;
        background: #EAEAEA;
        margin-left: 16px;
        margin-right: 20px;
    }

    .main__title_container-positioner{
        margin-left: 0;
    }

    .main__navs{
        margin-top: 24px;
    }

    .main__navs_item{
        padding: 6px 16px 6px 16px;
    }

    .main__about{
        margin-top: 10px;
        flex-direction: column;
    }

    .about__description{
        padding: 0 16px;
    }

    .about__text{
        max-height: 104px;
    }

    .about__continuation{
        margin-top: 16px;
    }
    
    .about__image{
        height: 176px;
        margin: 16px auto;
        width: 100%;
    }
}




@media screen and (min-width:768px){
    .container-positioner{
        margin: 0 24px;
    }

    .header__sidebar-toggle{
        margin-right: 0;
    }

    .header__contacts{
        display: flex;
    }

    .header__logo::before{
        display: inline-block;
        content:"";
        width: 2px;
        height: 32px;
        background: #EAEAEA;
        margin-right: 20px;
        margin-left: 20px;
    }

    .header__actions::before{
        display: inline-block;
        content:"";
        width: 2px;
        height: 32px;
        background: #EAEAEA;
        margin-left: 20px;
        margin-right: 20px;
    }

    .main__title_container-positioner{
        margin-left: 8px;
    }

    .main__navs{
        margin-top: 32px;
    }
    
    .main__navs_item{
        padding: 6px 16px 6px 16px;
    }

    .main__about{
        flex-direction: row;
        align-items: flex-start;
        margin-top: 18px;
        padding: 0 24px;
    }

    .about__description{
        padding: 0;
        margin-right: 48px;
    }

    .about__text{
        max-height: 170px;
        line-height: 20px;
    }

    .about__continuation{
        margin-top: 13px;
    }
    
    .about__image{
        margin: 0;
        margin-top: 13px;
        height: 208px;
        border-radius: 6px;
        width: 40%;
    }
}

@media screen and (min-width:1120px){
    .header{
        display: none;
    }

    .main__menu{
        display: flex;
    }

    .container-positioner{
        margin: 0 32px;
    }

    .main__title_container-positioner{
        margin-left: 16px;
    }

    .main__title{
        margin-top: 42px;
        margin-left: 0;
    }
    
    .main__navs{
        margin-top: 8px;
    }
    
    .main__navs_item{
        padding: 7px 22px 7px 22px;
        margin-bottom: 4px;
    }

    .navs__container-positioner{
        overflow-x: visible;
        flex-wrap: wrap;
    }

    .main__about{
        flex-direction: row;
        align-items: flex-start;
        padding: 0 32px;
        margin-top: 0;
    }

    .about__description{
        margin-right: 36px;
    }

    .about__text{
        max-height: 170px;
        line-height: 20px;
    }

    .about__continuation{
        margin-top: 10px;
    }
    
    .about__image{
        margin: 0;
        border-radius: 6px;
        height: 307px;
        width: 40%;
    }
}