@font-face{
    font-family: "TT Lakes";
    src: url("./fonts/TTLakes-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: "TT Lakes";
    src: url("./fonts/TTLakes-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: "TT Lakes";
    src: url("./fonts/TTLakes-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0;
    padding: 0;
    background: #F8F8F8;
    font-family: "TT Lakes", "Roboto", "Arial";
}

.wrapper{
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
}

.link{
    font-weight: 500;
    vertical-align: middle;
    font-size: 16px;
    letter-spacing: -0.2px;
    white-space: nowrap;
    line-height: 24px;
    text-decoration: none;
}

.image{
    max-width: 100%;
}

/* icon */

.icon::after{
    display: inline-block;
    height: 40px;
    width: 40px;
    background: #FF3E79;
    padding: 10px;
    border-radius: 20px;
    box-sizing: border-box;
}

.icon--menu::after{
    content: url("./images/menu.svg");
}

.icon--chat::after{
    content: url("./images/chat.svg");
}

.icon--user::after{
    content: url("./images/user.svg");
}

.icon--phone::after{
    content: url("./images/phone.svg");
}

.icon--instruments::after{
    content: url("./images/instruments.svg");
}

.icon--contacts::after{
    content: url("./images/contacts.svg");
}

/* header */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
    border-bottom: solid 1px #D9FFF5;
    background:#FFFFFF;
}

.header__sidebar-toggle{
    display: flex;
    align-items: center;
}

.header__logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    align-items: center;
    margin-left: auto;
}

.header__logo::after{
    content: url("./images/logo.svg");
    height: 52px;
}

.header__contacts{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 2;
}

.header__contacts .icon{
    margin-left: 16px;
}

.header__actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__actions .icon{
    margin-right: 16px;
}

.header__actions .icon:nth-last-child(1){
    margin: 0;
}


/*  main */

.main__title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    margin-top: 24px;
    height: 40px;
}

.main__title::before{
    display: inline-block;
    position: absolute;
    content:"";
    width: 4px;
    height: 40px;
    background: #41F6D7;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-sizing: border-box;
    left: 0px;
}

.main__title h1{
    font-size: 28px;
    letter-spacing: -1px;
    line-height: 40px;
    font-weight: bold;
}

/* menu */


.main__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    display: none;
    margin-left: auto;
}

.menu__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 32px;
    color:#1B1C21;
}

.menu__item.icon::after{
    margin-left: 9px;
}

.menu__item:nth-last-child(1){
    margin-right: 0px;
}

/* navbarchik */

.main__navigation{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    padding: 0;
    box-sizing: border-box;
}

.navigation__item{
    height: 100%;
    height: 40px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 16px;
    padding-right: 9px;
    border-radius: 6px;
    margin-bottom: 4px;
    border: 2px dotted rgba(0, 0, 0, 0);
    list-style: none;
    box-sizing: border-box;
    color: #7E7E82;
}

.navigation__item:hover{
    border: 2px dotted #B8FFEC;
    background: white;
    cursor: pointer;
}

.navigation__item--active{
    border: 2px solid #B8FFEC;
    background: white;
}

/* about */

.main__about{
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.about__description{
    flex-direction: column;
}

.about__text{
    color:#1B1C21;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px; 
    overflow: hidden;
}

.about__continuation{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 24px;
    padding: 0 8px;
    outline: none;
    border: none;
    font-family: "TT Lakes", "Roboto", "Arial";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 500;
    color:#1B1C21;
    background: inherit;
    cursor: pointer;
}

.about__continuation::before{
    display: inline-block;
    content:"";
    width: 8px;
    height: 10px;
    background: url("./images/bottom.svg") repeat-y;
    margin-right: 16px;
}

.continuation__icon{
    text-align: center;
}

.about__image{
    background:  url("./images/about.png") no-repeat;
    background-size: cover;
}

@media screen and (max-width:320px), screen and (min-width:320px){
    .header{
        padding-left: 16px;
        padding-right: 16px;
    }

    .header__sidebar-toggle{
        margin-right: 16px;
    }

    .header__contacts{
        display: none;
    }

    .header__actions::before{
        display: inline-block;
        content:"";
        width: 2px;
        height: 32px;
        background: #EAEAEA;
        margin-left: 16px;
        margin-right: 20px;
    }

    .main__title{
        padding: 0 16px;
    }

    .navigation.main__navigation{
        margin-top: 24px;
        margin-left: 16px;
        margin-right: 16px;
    }

    .about.main__about{
        margin-top: 10px;
        flex-direction: column;
    }

    .about__description{
        padding: 0 16px;
    }

    .about__text{
        max-height: 104px;
    }

    .continuation.about__continuation{
        margin-top: 16px;
    }
    
    .image.about__image{
        margin: 0 auto;
        margin-top: 16px;
        width: 320px;
        margin-bottom: 35px;
        height: 176px;
    }
}




@media screen and (min-width:768px){
    .header{
        padding: 0 24px;
    }

    .header__sidebar-toggle{
        margin-right: 0;
    }

    .header__contacts{
        display: flex;
    }

    .header__logo::before{
        display: inline-block;
        content:"";
        width: 2px;
        height: 32px;
        background: #EAEAEA;
        margin-right: 20px;
        margin-left: 20px;
    }

    .header__actions::before{
        display: inline-block;
        content:"";
        width: 2px;
        height: 32px;
        background: #EAEAEA;
        margin-left: 20px;
        margin-right: 20px;
    }

    .main__title{
        padding: 0 24px;
    }

    .title.main__title{
        margin-top: 24px;
    }

    .navigation.main__navigation{
        margin-top: 32px;
        margin-left: 24px;
        margin-right: 24px;
    }

    .about.main__about{
        flex-direction: row;
        align-items: flex-start;
        margin-top: 18px;
        padding: 0 24px;
    }

    .about__description{
        padding: 0;
        width: 43%;
    }

    .about__text{
        max-height: 170px;
        line-height: 20px;
    }

    .continuation.about__continuation{
        margin-top: 13px;
    }
    
    .image.about__image{
        margin: 0;
        margin-top: 0;
        margin-bottom: 40px;
        width: 360px;
        height: 208px;
        border-radius: 6px;
    }
}

@media screen and (min-width:1120px){
    .header{
        display: none;
    }

    .main__menu{
        display: flex;
    }

    .main__title{
        padding: 0 32px;
    }

    .title.main__title{
        margin-top: 42px;
    }

    .navigation.main__navigation{
        margin-top: 8px;
        margin-left: 32px;
        overflow-x: visible;
        flex-wrap: wrap;
        margin-bottom: 4px;
    }
    
    .navigation__item{
        padding-left: 22px;
        padding-right: 24px;
    }

    .about.main__about{
        flex-direction: row;
        align-items: flex-start;
        padding: 0 32px;
        margin-top: 0;
    }

    .about__description{
        padding: 0;
        width: 46%;
    }

    .about__text{
        max-height: 170px;
        line-height: 20px;
    }

    .continuation.about__continuation{
        margin-top: 10px;
    }
    
    .image.about__image{
        margin: 0;
        margin-top: 0;
        margin-bottom: 49px;
        width: 531px;
        height: 307px;
        border-radius: 6px;
    }
}