@font-face{
    font-family: "TT Lakes";
    src: url("./fonts/TTLakes-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: "TT Lakes";
    src: url("./fonts/TTLakes-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: "TT Lakes";
    src: url("./fonts/TTLakes-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@keyframes left-left{
    from{
        background: url("./images/left.svg") no-repeat 50% 50%;
    }
    25%{
        background: url("./images/left.svg") no-repeat 70% 50%;
    }
    50%{
        background: url("./images/left.svg") no-repeat 50% 50%;
    }
    75%{
        background: url("./images/left.svg") no-repeat 70% 50%;
    }
    to{
        background: url("./images/left.svg") no-repeat 50% 50%;
    }
}

@keyframes go-go{
    0%{
        transform: translateY(0);
    }
    12%{
        transform: translateY(4px);
    }
    24%{
        transform: translateY(0);
    }
    36%{
        transform: translateY(4px);
    }
    50%{
        transform: rotate(180deg) translateY(0);
    }
    62%{
        transform: rotate(180deg) translateY(-4px);
    }
    74%{
        transform: rotate(180deg) translateY(0);
    }
    88%{
        transform: rotate(180deg) translateY(-4px);
    }
    98%{
        transform: rotate(180deg) translateY(0);
    }
    100%{
        transform: rotate(180deg) translateY(0);
    }
}

/* all */

body{
    margin: 0;
    padding: 0;
    background: #F8F8F8;
    font-family: "TT Lakes", "Roboto", "Arial";
}

*, *::after, *::before{
    box-sizing: border-box;
}

.button{
    outline: none;
    border: none;
    background: inherit;
    padding: 0;
    font-family: inherit;
    color: inherit;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 24px;
}

/* brands */

.brands{
    overflow-x: hidden;
}

.brands__title{
    font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 24px;
    color: #7E7E82;
    font-weight: normal;
    text-transform: uppercase;
    background: linear-gradient(270deg, #FFFFFF 0%, #F8F8F8 98.61%);
    width: 100%;
    margin: 0;
}

.brands-list__container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.brands-item.brands__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    border-radius: 6px;
    background: white;
    border: 1px solid #EAEAEA;
}

.brands-item:hover{
    filter: drop-shadow(0 0 5px #EAEAEA);
}

.brand-item__link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.brand-item__logo{
    max-width: 128px;
    max-height: 40px;
}

.brand-item__logo:hover{
    filter: saturate(5) brightness(1);
}

.brand-item__link::after{
    content: "";
    height: 40px;
    width: 40px;
    border: #FF3E79 solid 2px;
    border-radius: 20px;
    background: url("./images/left.svg") no-repeat 50% 50%;
}

.brand-item__link:hover::after{
    animation-name: left-left;
    animation-duration: 500ms;
}

.toggle-all.brands__toggle-all{
    height: 24px;
    cursor: pointer;
}

.toggle-all::before{
    display: inline-block;
    content:"";
    width: 8px;
    height: 10px;
    background: url("./images/bottom.svg") repeat-y;
    margin-right: 16px;
}

.toggle-all:hover::before{
    animation-name: go-go;
    animation-duration: 666ms;
}

/* dear swiper */

.brands-list .swiper-pagination{
    margin-top: 16px;
    position: relative;
    width: 100%;
}

.brands-list .swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    background: #B5B6BC;
    margin-right: 12px;
}

@media  screen and (max-width:320px), screen and (min-width:320px){
    .brands__title{
        padding: 16px;
    }

    .brands-list.brands__list{
        padding: 16px;
    }

    .brands-list__container{
        flex-wrap: nowrap;
    }

    .brands-list__container--height--min{
        max-height: none;
    }

    .brands-item.brands__item{
        margin-right: 16px;
        padding: 20px 16px;
        width: 240px;
    }

    .toggle-all.brands__toggle-all{
        display: none;
    }

    .swiper-pagination{
        display: inline-block;
    }
}

@media screen and (min-width:768px){
    .brands__title{
        padding: 16px 24px;
    }

    .brands-list.brands__list{
        margin: 8px 0;
        padding: 0 24px;
    }

    .brands-list__container{
        flex-wrap: wrap;
    }

    .brands-list__container--height--min{
        max-height: 178px;
    }

    .brands-item.brands__item{
        margin-top: 16px;
        margin-right: 24px;
        padding: 12px 16px;
        width: calc(33.33% - 24px);
    }

    .brands-item.brands__item:nth-child(3n){
        margin-right: 0;
    }

    .toggle-all.brands__toggle-all{
        display: block;
        margin: 22px 8px;
    }
    
    .swiper-pagination{
        display: none;
    }
}

@media screen and (min-width:1120px){
    .brands__title{
        padding: 16px 32px;
    }

    .brands-list.brands__list{
        margin: 8px 0;
        padding: 0 32px;
    }

    .brands-list__container{
        flex-wrap: wrap;
    }

    .brands-list__container--height--min{
        max-height: 178px;
    }

    .brands-item.brands__item{
        margin-top: 16px;
        margin-right: 32px;
        padding: 20px 16px;
        width: calc(25% - 32px);
    }

    .brands-item.brands__item:nth-child(3n){
        margin-right: 32px;
    }

    .brands-item.brands__item:nth-child(4n){
        margin-right: 0;
    }

    .toggle-all.brands__toggle-all{
        display: block;
        margin: 22px 7px;
    }
}