@font-face{
    font-family: "TT Lakes";
    src: url("./fonts/TTLakes-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: "TT Lakes";
    src: url("./fonts/TTLakes-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: "TT Lakes";
    src: url("./fonts/TTLakes-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@keyframes vibro{
    from{
        transform: rotate(-3deg);
    }
    25%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(3deg);
    }
    to{
        transform: rotate(0deg);
    }
}

body{
    margin: 0;
    padding: 0;
    background: #F8F8F8;
    font-family: "TT Lakes", "Roboto", "Arial";
}

*, *::after, *::before{
    box-sizing: border-box;
}

/* sidebar */

.sidebar{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 320px;
    top: 0;
    left: 0;
    box-shadow: 
        -2px 0px 4px rgba(69, 79, 126, 0.02),
        16px 0px 52px rgba(14, 24, 80, 0.2);
    min-height: 100%;
    background:#FFFFFF;
}

.sidebar__sidebar-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 24px;
    height: 88px;
    width: 100%;
    height: 88px;
}

.sidebar-header__sidebar-toggle{
    margin-right: 16px;
    cursor: pointer;
}

.logo{
    height: 52px;
}

.sidebar-header__logo{
    cursor: pointer;
}

.sidebar-header__action{
    margin-left: auto;
}


/* sidebar-main */

.sidebar__sidebar-main{
    display: flex;
    flex-direction: column;
    flex-shrink: 2;
    padding: 0 24px;
    height: calc(100vh - 88px);
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar__sidebar-main::-webkit-scrollbar {display:none;}
.sidebar__sidebar-main::-moz-scrollbar {display:none;}
.sidebar__sidebar-main::-ms-scrollbar {display:none;}


/* sidebar-navigation */

.sidebar-navigation.sidebar__navigation{
    margin-top: 12px;
}

.sidebar-navigation{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-basis: 100%;
}

.sidebar-navigation__list{
    padding: 0;
}

.sidebar-navigation__item{
    position: relative;
    display: flex;
    align-items: center;
    height: 32px;
    margin-bottom: 24px;
    list-style: none;
    color: #1B1C21;
}

.sidebar-navigation__item--active{
    color: #7E7E82;
}

.sidebar-navigation__item:not(.sidebar-navigation__item--active):hover{
    transition-duration: 500ms;
    transition-property: all;
    transform: scale(1.1, 1.4);
    color: #FF3E79;
}

.sidebar-navigation__item--active::before{
    display: inline-block;
    position: absolute;
    content:"";
    width: 4px;
    height: 32px;
    background: #41F6D7;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    left: -24px;
}

.sidebar__contacts{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-items: center;
    margin-top: auto;
}

.sidebar__contacts .icon{
    margin-right: 16px;
}

.sidebar__email{
    margin-top: 16px;
    color: #1B1C21;
    width: 100%;
}

.sidebar__email:hover{
    color: #FF3E79;
}

.sidebar__phone{
    margin-top: 12px;
    color: #1B1C21;
    width: 100%;
}

.sidebar__phone:hover{
    animation-name: vibro;
    animation-duration: 40ms;
    animation-iteration-count: infinite;
}

.sidebar__phone.link{
    font-weight: bold;
    font-size: 24px;
    letter-spacing: -0.6px;
    line-height: 32px;
}

.languages{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0;
}

.sidebar__languages{
    margin-top: 40px;
    margin-bottom: 32px;
}

.languages__item{
    display: flex;
    align-items: center;
    list-style: none;
    color: #1B1C21;
    margin-left: 7px;
    padding: 0;
}

.languages__item .button{
    border: transparent solid 1px;
}

.languages__item:not(.languages__item--active) .button:hover{
    border: #FF3E79 solid 1px;
    color: #FF3E79;
    border-radius: 4px;
    transition-duration: 444ms;
    transition-property: color, border;
    cursor: pointer;
}

.button{
    outline: none;
    border: none;
    background: inherit;
    padding: 0;
    font-family: inherit;
    color: inherit;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 24px;
}

.languages__item:first-child{
    margin-left: 0;
}

.languages__item--active{
    color: #7E7E82;
}

.link{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 24px;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    color: inherit;
}

.icon::after{
    display: inline-block;
    height: 40px;
    width: 40px;
    background: #FF3E79;
    padding: 11px;
    border-radius: 20px;
    transition-duration: 300ms;
    transition-property: all;
    text-align: center;
}

.icon:hover::after{
    filter:  drop-shadow(0 0 5px black);
    transform: scale(1.1);
    background: #41F6D7;
}

.icon--menu::after{
    content: url("./images/menu.svg");
}

.icon--chat::after{
    content: url("./images/chat.svg");
}

.icon--user::after{
    content: url("./images/user.svg");
}

.icon--phone::after{
    content: url("./images/phone.svg");
}

.icon--instruments::after{
    content: url("./images/instruments.svg");
}

.icon--contacts::after{
    content: url("./images/contacts.svg");
}

.icon--close::after{
    content: url("./images/close.svg");
}

.icon--search::after{
    content: url("./images/search.svg");
}