@import "../variables/variables.scss";

.table{
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  text-align: left;
}

.table__body{
  background: $themeColor4;
  padding: 40px;
}

.table__cell{
  font-family: $themeFont;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: $themeColor8;
  position: relative;
  font-weight: normal;
  white-space: normal;
}

.table__header{
  .table__cell{
    line-height: 16px;
    color: $themeColor7;
  }
}

.table__body{
  .table__row:not(:last-child){
    .table__cell:before{
      display: inline-block;
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0px;
      background: $themeColor5;
      content: "";
    }
  }

  .table__row:last-child{
    .table__cell:first-child {
      border-radius: 0 0 0 6px;
    }
    
    .table__cell:last-child {
      border-radius: 0 0 6px 0;
    }
  }
  
  .table__row:first-child{
    .table__cell:first-child {
      border-radius: 6px 0 0 0;
    }
    
    .table__cell:last-child {
      border-radius: 0 6px 0 0;
    }
  }
}

@media  screen and (max-width:320px), screen and (min-width:320px){
}

@media screen and (min-width:768px){
  .table__cell{
    padding: 16px;
  }

  .table__body{
    .table__row:not(:last-child){
      .table__cell:first-child:before{
        left: 16px;
      }
    
      .table__cell:last-child:before{
        right: 16px;
      }
    }
  }
}

@media screen and (min-width:1120px){
  .table__cell{
    padding: 24px;
  }

  .table__body{
    .table__row:not(:last-child){
      .table__cell:first-child:before{
        left: 24px;
      }
    
      .table__cell:last-child:before{
        right: 24px;
      }
    }
  }
}