@import "../variables/variables.scss";

.sidebar-main{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar-main::-webkit-scrollbar {display:none;}
.sidebar-main::-moz-scrollbar {display:none;}
.sidebar-main::-ms-scrollbar {display:none;}

@media screen and (max-width:320px), screen and (min-width:320px){
    .sidebar-main{
        height: calc(100vh - 88px);
        padding: 0 16px;
    }
}

@media screen and (min-width:360px){
    .sidebar-main{
        padding: 0 24px;
    }
}

@media screen and (min-width:1440px){
    .sidebar-main{
        height: auto;
    }
}