$themeColor1: #FF3E79;
$themeColor2: #41F6D7;
$themeColor3: #D9FFF5;
$themeColor4: #FFFFFF;
$themeColor5: #EAEAEA;
$themeColor6: #F8F8F8;
$themeColor7: #7E7E82;
$themeColor8: #1B1C21;

$themeFont: "TT Lakes", "Roboto", "Arial";

$minIndent: 16px;
$mediumIndent: 24px;
$maxIndent: 32px;