@import "../variables/variables.scss";

.main-navigation{
  display: flex;
  align-items: center;
  overflow-x: auto;
  gap: 4px;
}

.main-navigation__item{
  height: 40px;
  padding: 7px 0;
  padding-left: 16px;
  padding-right: 9px;
  border-radius: 6px;
  border: 2px dotted transparent;
  color: $themeColor7;
  white-space: nowrap;
}

.main-navigation__item:not(.main-navigation__item--active):hover{
  border-color:#B8FFEC;
  background: $themeColor4;
  cursor: pointer;
}

.main-navigation__item{
  .link:hover{
    color: $themeColor7;
  }
}

.main-navigation__item--active{
  border: 2px solid #B8FFEC;
  background: $themeColor4;
}

@media screen and (min-width:1440px){
  .main-navigation{
      flex-wrap: wrap;
      overflow-x: visible;
  }
  
  .main-navigation__item{
      padding-left: 22px;
      padding-right: 24px;
  }
}